<font color ="green" size =18>Learn Basic:</font>
<img src ="">

In [9]:
import numpy as np

#create a numpy from a list
j = [10,100,23,67,100]
B =np.array(j)
c =np.array([j])
print(B,B.shape,c,c.shape)

#numpy nan

B =np.nan
print(B)

#numpy random int

x = np.random.randint(0,200,(100,4))
x[1:5,:] #slicing numpys

[ 10 100  23  67 100] (5,) [[ 10 100  23  67 100]] (1, 5)
nan

array([[ 28,  90,   6,  24],
       [145, 125,   8, 157],
       [  0,  13, 128,  54],
       [ 50,  13,  94,   1]])

<font size =18 color ="pink">Learn the Basics of:</font>
<img src ="https://miro.medium.com/max/798/1*93CVLqnQESmvfOhzvYUgQw.png">

In [12]:
import pandas as pd
df = pd.DataFrame(x,columns =['c1','c2','c3','c4'])
print(df.head())
print(df.tail())
print(df.describe())
print(df.shape)

    c1   c2   c3   c4
0   89    7   16  190
1   28   90    6   24
2  145  125    8  157
3    0   13  128   54
4   50   13   94    1
     c1   c2   c3   c4
95  155  167  138   18
96   48   88  116  181
97   29  149   27   21
98  148   59   44  196
99  155  130    3  154
               c1         c2          c3          c4
count  100.000000  100.00000  100.000000  100.000000
mean   100.270000  100.77000   92.230000  107.290000
std     56.732556   57.42608   59.379766   56.580379
min      0.000000    0.00000    3.000000    1.000000
25%     45.500000   54.00000   35.750000   61.500000
50%    101.000000  108.00000   93.500000  113.000000
75%    146.000000  148.25000  143.250000  155.250000
max    197.000000  199.00000  198.000000  198.000000
(100, 4)

In [13]:
df.iloc[1:3,:] #slicing pandas

    c1   c2  c3   c4
1   28   90   6   24
2  145  125   8  157

In [14]:
df.c1.head()

0     89
1     28
2    145
3      0
4     50
Name: c1, dtype: int32

In [16]:
df['c2'][:3]

0      7
1     90
2    125
Name: c2, dtype: int32

In [18]:
F =['c1','c2']
df[F].head()

    c1   c2
0   89    7
1   28   90
2  145  125
3    0   13
4   50   13