In [3]:
import pandas as pd
n = [5,2,3,90]
H = pd.DataFrame(n,columns = ['salem'])
H['Salem_Squared'] =[i**2 for i in n]

In [4]:
H

   salem  Salem_Squared
0      5             25
1      2              4
2      3              9
3     90           8100